services:
  - type: web
    name: mecanica-backend
    env: node
    region: ohio
    plan: free
    buildCommand: npm install
    startCommand: npm start
    root: backend
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
